<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
     
    <servlet>
        <servlet-name>IndexHome</servlet-name>
        <jsp-file>/views/Administrador/index.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ConductorUpdate</servlet-name>
        <servlet-class>com.stpi.controller.ConductorUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConductorEdit</servlet-name>
        <servlet-class>com.stpi.controller.ConductorEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConductorIndex</servlet-name>
        <servlet-class>com.stpi.controller.ConductorIndex</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConductorCreate</servlet-name>
        <jsp-file>/views/Administrador/Conductores/create.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ConductorStore</servlet-name>
        <servlet-class>com.stpi.controller.ConductorStore</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConductorDestroy</servlet-name>
        <servlet-class>com.stpi.controller.ConductorDestroy</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BusIndex</servlet-name>
        <servlet-class>com.stpi.controller.BusIndex</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BusStore</servlet-name>
        <servlet-class>com.stpi.controller.BusStore</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BusUpdate</servlet-name>
        <servlet-class>com.stpi.controller.BusUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BusCreate</servlet-name>
        <jsp-file>/views/Administrador/Buses/create.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>BusEdit</servlet-name>
        <servlet-class>com.stpi.controller.BusEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BusDestroy</servlet-name>
        <servlet-class>com.stpi.controller.BusDestroy</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BiciIndex</servlet-name>
        <servlet-class>com.stpi.controller.BiciIndex</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BiciCreate</servlet-name>
        <jsp-file>/views/Administrador/Bicis/create.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>BiciStore</servlet-name>
        <servlet-class>com.stpi.controller.BiciStore</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BiciDestroy</servlet-name>
        <servlet-class>com.stpi.controller.BiciDestroy</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransferIndex</servlet-name>
        <servlet-class>com.stpi.controller.TransferIndex</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransferStore</servlet-name>
        <servlet-class>com.stpi.controller.TransferStore</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransferUpdate</servlet-name>
        <servlet-class>com.stpi.controller.TransferUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransferCreate</servlet-name>
        <jsp-file>/views/Administrador/Transfer/create.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>TransferEdit</servlet-name>
        <servlet-class>com.stpi.controller.TransferEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransferDestroy</servlet-name>
        <servlet-class>com.stpi.controller.TransferDestroy</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClienteIndex</servlet-name>
        <servlet-class>com.stpi.controller.ClienteIndex</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.stpi.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.stpi.controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Usuario_TransferStore</servlet-name>
        <servlet-class>com.stpi.controller.Usuario_TransferStore</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Bicicleta_UsuarioStore</servlet-name>
        <servlet-class>com.stpi.controller.Bicicleta_UsuarioStore</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MonitoreoBuses</servlet-name>
        <servlet-class>com.stpi.controller.MonitoreoBuses</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MonitoreoBuses_Index</servlet-name>
        <servlet-class>com.stpi.controller.MonitoreoBuses_Index</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConductorUpdate</servlet-name>
        <url-pattern>/Conductores/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConductorEdit</servlet-name>
        <url-pattern>/Conductores/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConductorIndex</servlet-name>
        <url-pattern>/Conductores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConductorCreate</servlet-name>
        <url-pattern>/Conductores/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConductorStore</servlet-name>
        <url-pattern>/Conductores/store</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConductorDestroy</servlet-name>
        <url-pattern>/Conductores/destroy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BiciIndex</servlet-name>
        <url-pattern>/Bicis</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BiciCreate</servlet-name>
        <url-pattern>/Bicis/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BiciStore</servlet-name>
        <url-pattern>/Bicis/store</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BiciDestroy</servlet-name>
        <url-pattern>/Bicis/destroy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClienteIndex</servlet-name>
        <url-pattern>/Clientes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BusIndex</servlet-name>
        <url-pattern>/Buses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BusStore</servlet-name>
        <url-pattern>/Buses/store</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BusUpdate</servlet-name>
        <url-pattern>/Buses/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BusCreate</servlet-name>
        <url-pattern>/Buses/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BusEdit</servlet-name>
        <url-pattern>/Buses/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BusDestroy</servlet-name>
        <url-pattern>/Buses/destroy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransferIndex</servlet-name>
        <url-pattern>/Transfer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransferStore</servlet-name>
        <url-pattern>/Transfer/store</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransferUpdate</servlet-name>
        <url-pattern>/Transfer/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransferCreate</servlet-name>
        <url-pattern>/Transfer/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransferEdit</servlet-name>
        <url-pattern>/Transfer/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransferDestroy</servlet-name>
        <url-pattern>/Transfer/destroy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Usuario_TransferStore</servlet-name>
        <url-pattern>/Usuario_TransferStore</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Bicicleta_UsuarioStore</servlet-name>
        <url-pattern>/Bicicleta_UsuarioStore</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MonitoreoBuses</servlet-name>
        <url-pattern>/MonitoreoBuses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IndexHome</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MonitoreoBuses_Index</servlet-name>
        <url-pattern>/Monitoreo/Buses</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>LoginServlet</welcome-file>
    </welcome-file-list>
    <security-constraint>
        <display-name>AdminConstraint</display-name>
        <web-resource-collection>
            <web-resource-name>views</web-resource-name>
            <description/>
            <url-pattern>/views/Administrador/*</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>Clientes</web-resource-name>
            <description/>
            <url-pattern>/Clientes/*</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>Conductores</web-resource-name>
            <description/>
            <url-pattern>/Conductores/*</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>Buses</web-resource-name>
            <description/>
            <url-pattern>/Buses/*</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>Transfer</web-resource-name>
            <description/>
            <url-pattern>/Transfer/*</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>Bicis</web-resource-name>
            <description/>
            <url-pattern>/Bicis/*</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>Home</web-resource-name>
            <description/>
            <url-pattern>/Home/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>Constraint</description>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>jdbcRealm</realm-name>
        <form-login-config>
            <form-login-page>/index.jsp</form-login-page>
            <form-error-page>/index.jsp</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description>Descripcion</description>
        <role-name>admin</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>usuario</role-name>
    </security-role>
</web-app>
